@model List<AlunoModel>

@if (ViewData["Mensagem"] != null)
{
    <div class="alert-danger">
        @ViewData["mensagem"]
    </div>
}

<div class="text-left">

    <div>
        <h1>Dados dos Alunos</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Contato</th>
                <th scope="col">E-mail</th>
                <th scope="col">Cep</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                int contador = 1;
                foreach (AlunoModel aluno in Model)
                {
                    <tr>
                        <th scope="row"> @contador</th>
                        <td> @aluno.Nome</td>
                        <td> @aluno.Idade</td>
                        <td> @aluno.Contato</td>
                        <td> @aluno.Email</td>
                        <td> @aluno.Cep</td>
                        <td>
                            <div class="d-grid gap-2 d-md-flex justify-content-left">
                                <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-id="@aluno.Id">Endereço</a>
                            </div>
                        </td>
                        <td>
                            <div class="d-grid gap-2 d-md-flex justify-content-left">
                                <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Editar" asp-route-id="@aluno.Id">Editar</a>
                            </div>
                        </td>
                        <td>
                            <div lass="d-grid gap-2 d-md-flex justify-content-left">
                                <a class="btn btn-danger" type="button" asp-controller="Aluno" asp-action="Excluir" asp-route-id="@aluno.Id">Excluir</a>
                            </div>
                        </td>
                    </tr>
                    contador = contador + 1;
                }
            }
        </tbody>
    </table>
    <div class="d-grid gap-2 d-md-flex justify-content-center">
        <a class="btn btn-primary" type="button" style="margin:5px" asp-controller="Aluno" asp-action="Adicionar">Adicionar Novo Aluno</a>
        <a class="btn btn-primary" type="button" style="margin:5px" asp-controller="Aluno" asp-action="Filtros">Filtro</a>
        <a class="btn btn-primary" type="button" style="margin:5px" asp-controller="Home" asp-action="Index">Voltar</a>
    </div>
</div>


